<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <variable name="projectName" value="WOCS"/>
  <variable name="defaultLayout" value="[${longdate:universalTime=True}${date:format= K}] [${pad:padding=5:inner=${uppercase:inner=${level}}}] TID:${pad:padding=3:inner=${threadid}} ${logger:shortName=true}  ${message} ${onexception:${newline}*** EXCEPTION ***${newline}${exception:format=tostring}}" />
  <variable name="defaultDirectory" value="${specialfolder:LocalApplicationData}/Expro/${var:projectName}/logs/" />
  <extensions>
    <add assembly="NlogViewer" />
  </extensions>
  <targets>

    <target name="file"
            xsi:type="File"
            fileName="${defaultDirectory}/${projectName}.log"
            layout="${defaultLayout}"
            archiveFileName="${defaultDirectory}/${projectName}.{#}.log"
            archiveAboveSize="10485760"
            maxArchiveFiles="100"
            keepFileOpen="true"
            concurrentWrites="true" />

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>